@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
body{
    background-color: #fe001a;
}
*{
    font-family: 'Cascadia Code', sans-serif;
    font-size: 32px;

}
.flex-container{
    background-image: linear-gradient(to right,#2f6a68,#54bb9e);
    display: flex;
    padding: 20px;
    flex-flow: column wrap;
    max-width: 428px;
    max-height: 900px;
    margin: 0 auto;
    border:#b8a115 5px solid;
}
.title{
    order: 1;
    max-width: 323px;
    max-height: 66px;
    color: #b8a115;
    margin: 49px;
    border-radius: 30px;
}
.box-link{
    background-color: #2f6a68;
    order: 2;
    max-width: 323px;
    max-height: 66px;
    color: #FCF8EB;
    margin: 49px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.3s;
}
.text{
    text-align: center;
    line-height: 66px;
}
footer{
    order: 3;
}
.text-footer{
    text-align: center;
    line-height: 66px;
    color: #b8a115;
}
.box-link:hover{
    box-shadow: inset 323px 0 0 0 #b8a115
}